@model RoleCreateModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<form asp-action="Create" method="post" class="p-4s w-75 mx-auto shadow py-2">
    <div class="mb-3 px-3">
        <label>Rol Adı :</label>
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
   
    <div class="mb-3 px-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="text-danger mt-2" asp-validation-summary="ModelOnly"></div>
</form>
