@model List<AppRole>


<a asp-action="Create" asp-controller="Role" class="my-2 btn btn-primary">Yeni Rol Ekle</a>
<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>NormalizedName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.NormalizedName</td>
            </tr>
        }

    </tbody>
</table>